<!-- 
It should display a list of Tasks.
It should add Tasks.
It should delete Tasks.
It should mark Tasks as Done.
-->

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css" />

        <title>TodoList</title>
    </head>
    <body>
        <div id="app">
            <main>
                <h1>{{ title.toUpperCase() }}</h1>
                <div class="addItemForm">
                    <input class="border" v-model="newItem" type="text" placeholder="Add item" @keyup.enter="addItem"></input>
                    <button class="btn" @click="addItem">Add</button>
                </div>
                <ul>
                    <li v-for= "(item, index) in list">
                        <input type="checkbox" @click="check(item)" v-bind:checked="item.done">
                        <del v-if="item.done">{{ item.text }}</del>
                        <span v-else>{{ item.text }}</span>
                        <button class="btn delete" @click="removeItem(index)">x</button>
                    </li>
                </ul>
            </main>
        </div>

        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    title: "Todo List",
                    newItem: "",
                    list : [
                        "learn HTML",
                        "Learn CSS",
                        "Learn JavaScript"
                    ]
                },
                methods: {
                    addItem() {
                        if(this.newItem !== "") {
                            this.list.push({text: this.newItem, done: false})
                            this.newItem = ""
                        }
                    },
                    removeItem(index){
                        this.list.splice(index,1);
                    },
                    check(item){
                        item.done = !item.done
                    },
                    }
                }
            });
        </script>
    </body>
</html>