<!-- 
It should display a list of Tasks.
It should add Tasks.
It should delete Tasks.
It should mark Tasks as Done.
-->

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css" />

        <title>TodoList</title>
    </head>
    <body>
        <div id="app">
            <main>
                <h1>{{ title.toUpperCase() }}</h1>
                <div class="addItemForm">
                    <input v-model="newItem" type="text" placeholder="Write new item" @keyup.enter="saveItem"></input>
                    <button class="btn" @click="saveItem">Add</button>
                </div>
                <ol class="list">
                    <li v-for= "item in list">
                        {{ item }}
                    </li>
                </ol>
            </main>
        </div>

        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    title: "Todo List",
                    newItem: "",
                    list : [
                        "learn HTML",
                        "Learn CSS",
                        "Learn JavaScript"
                    ]
                },
                methods: {
                     saveItem() {
                        this.list.push(this.newItem);
                        this.newItem = "";
                    }
                }
            });
        </script>
    </body>
</html>