* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background: #eb9fef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fecee9,
    #eb9fef
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fecee9,
    #eb9fef
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#app {
  min-height: 50vh;
  width: 40%;
  margin: 0 auto;
  margin-top: 10%;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  min-width: 300px;
}

main {
  padding: 5%;
}

main h1 {
  color: #eb9fef;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

main .addItemForm {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

main .addItemForm input {
  flex-grow: 2;
  margin: 5px;
  border-radius: 50px;
  padding: 10px;
  border: 2px solid #eb9fef;
}

main .addItemForm input:focus {
  outline: none;
}

.btn {
  flex-grow: 1;
  margin: 5px;
  border-radius: 50px;
  border: 2px solid #eb9fef;
  background-color: white;
  color: #eb9fef;
  padding: 10px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.delete {
  font-size: 16px;
  padding: 0 3%;
}

main .addItemForm .btn:hover {
  background-color: #eb9fef;
  color: white;
}

main ul {
  list-style: none;
  padding: 0 5%;
}

@media screen and (max-width: 450px) {
    #app{
        box-shadow: none;
    }

    main .addItemForm {
        flex-direction: column;
    }
}
